<h2>Panel de Reservas</h2>

<!-- Botón para cambiar entre reservas actuales y pasadas -->
<div class="panel-header">
  <div class="titulo-seccion">
    <h2>{{ getTituloSeccion() }}</h2>
    <span class="info-reservas">{{ getInfoReservas() }}</span>
  </div>
  
  <button class="btn-toggle-reservas" (click)="toggleReservas()">
    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="currentColor" stroke-width="2"/>
      <path d="M12 8V12L15 15" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    {{ getTextoBoton() }}
  </button>
</div>

<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Llegada</th>
            <th>Salida</th>
            <th>Personas</th>
            <th>Rostro</th>
            <th>Frontal</th>
            <th>Posterior</th>
            <th>ESTADO</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let reserva of reservas">
            <td>{{ reserva.nombre }}</td>
            <td>{{ reserva.fechaLlegada }}</td>
            <td>{{ reserva.fechaSalida }}</td>
            <td>{{ reserva.cantidad }}</td>
            <td>
                <img *ngIf="reserva.rostro" [src]="getImagenUrl(reserva.rostro)" alt="rostro" width="60" height="60" style="object-fit:cover; border-radius: 8px; cursor: pointer;" (click)="abrirImagen(getImagenUrl(reserva.rostro))" >
            </td>
            <td>
                <img *ngIf="reserva.documento_f" [src]="getImagenUrl(reserva.documento_f)" alt="documento_f" width="60" height="60" style="object-fit:cover; border-radius: 8px; cursor: pointer;" (click)="abrirImagen(getImagenUrl(reserva.documento_f))" >
            </td>
            <td>
                <img *ngIf="reserva.documento_p" [src]="getImagenUrl(reserva.documento_p)" alt="documento_p" width="60" height="60" style="object-fit:cover; border-radius: 8px; cursor: pointer;" (click)="abrirImagen(getImagenUrl(reserva.documento_p))">
            </td>
            <td>
                {{ reserva.confirmado === true ? 'Confirmado' : (reserva.confirmado === false ? 'Rechazado' : 'Pendiente') }}
            </td>
            <td>
                <button  (click)="actualizar(reserva, true)">Aceptar</button>
                <button  (click)="actualizar(reserva, false)" >Rechazar</button>
                <button (click)="facturar(reserva)" >Facturar</button>
                <button (click)="enviarFactura(reserva)" >Enviar Factura</button>

            </td>
        </tr>
    </tbody>
</table>

<div *ngIf="imagenSeleccionada" class="modal-imagen" (click)="cerrarImagen()">
    <img [src]="imagenSeleccionada" alt="Vista ampliada" class="imagen-grande">
</div>