<div class="hero-section"> 
    <img src="/assets/images/Piscina.webp" alt="Fondo" class="main-background">
    <div class="main-overlay"></div>
    <div class="top-section">
        <img src="/assets/logos/ISOTIPO.svg" alt="Logo Finca El Progreso" class="logo-flower">
        <div class="divider-line"></div>
        <h2 class="section-label">Enlaces</h2>
        <h1 class="main-title">Bienvenido</h1>
        <div class="divider-line"></div>
        <p class="subtitle">Disfruta de la tranquilidad del campo en un entorno natural privilegiado</p>
    </div>
    <!-- Logo -->
    <div class="sections-grid">
        <div class="section-card agendar-section" (click)="irABienvenida()">
            <img src="assets/images/Juegos.webp" alt="Agendar" class="background-image">
            <div class="overlay"></div>
            <div class="card-content">
                <img src="/assets/logos/Email.svg" alt="Calendario" class="card-icon">
                <h3 class="card-title">Agendar</h3>
                <p class="card-subtitle">Reserva tu estadia</p>
            </div>
        </div>
        <div class="section-card contactar-section" (click)="whatsapp()">
            <img src="assets/images/Piscina.webp" alt="Contactar" class="background-image">
            <div class="overlay"></div>
            <div class="card-content">
                <img src="/assets/logos/Whatsapp.svg" alt="WhatsApp" class="card-icon">
                <h3 class="card-title">Contactar</h3>
                <p class="card-subtitle">Escríbenos por WhatsApp</p>
            </div>
        </div>
        <div class="section-card agendar-section" (click)="irAAbout()">
            <img src="assets/images/Baños.webp" alt="Conocer Más" class="background-image">
            <div class="overlay"></div>
            <div class="card-content">
                <img src="/assets/logos/Experiencia.svg" alt="Información" class="card-icon">
                <h3 class="card-title">Conocer Más</h3>
                <p class="card-subtitle">Descubre nuestra finca</p>
            </div>
        </div>
    </div>
</div>